## Load data and quick check

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('takehome_users.csv', encoding='latin-1')

In [3]:
df

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [5]:
df1 = pd.read_csv('takehome_user_engagement.csv')

In [6]:
df1

                 time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

## Create target variable (adopted users)

In [8]:
df1['time_stamp'] = pd.to_datetime(df1['time_stamp'])

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  datetime64[ns]
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [10]:
list_id = df1.user_id.unique()

In [11]:
len(list_id)

8823

In [12]:
# Create dictionary with keys as User IDs and values as O or 1 
#(not adopted or adopted).
adopted_user = dict()
for i in list_id:
    a = np.array(df1[df1.user_id == i]['time_stamp'].sort_values())
    if len(a) < 3:
       adopted_user[i] = 0
    else:
        for j in range(len(a)-2):
            if a[j+2] < a[j] + pd.DateOffset(days=7):
                adopted_user[i] = 1
                break
            else:
                adopted_user[i] = 0

In [13]:
adopted_user

{1: 0,
 2: 1,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 10: 1,
 11: 0,
 13: 0,
 14: 0,
 17: 0,
 19: 0,
 20: 1,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 33: 1,
 36: 0,
 37: 0,
 41: 0,
 42: 1,
 43: 1,
 44: 0,
 45: 0,
 46: 0,
 47: 0,
 48: 0,
 49: 0,
 50: 1,
 51: 0,
 53: 1,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 63: 1,
 64: 0,
 65: 0,
 66: 0,
 67: 0,
 68: 0,
 69: 1,
 72: 0,
 73: 0,
 74: 1,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 80: 1,
 81: 1,
 82: 1,
 83: 0,
 84: 0,
 85: 0,
 86: 0,
 87: 1,
 88: 0,
 89: 0,
 90: 0,
 91: 0,
 92: 0,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 0,
 100: 0,
 101: 0,
 103: 0,
 105: 0,
 106: 0,
 107: 0,
 109: 0,
 110: 0,
 111: 0,
 112: 0,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 119: 0,
 121: 0,
 123: 0,
 124: 0,
 125: 0,
 126: 0,
 127: 0,
 128: 0,
 132: 0,
 133: 1,
 135: 1,
 136: 0,
 138: 0,
 139: 0,
 140: 0,
 141: 1,
 142: 0,
 143: 0,
 144: 0,
 146: 1,
 147: 0,
 150: 0,
 151: 0,
 153: 1,
 154: 0,
 155: 0,
 156: 0,
 158: 0,
 159: 0,
 160: 1,
 161: 0,
 162: 0,
 164: 0,
 165: 1,
 167: 0,
 168: 1,
 171: 0,
 172: 1,
 173: 0,
 174: 1,
 175: 0,
 176: 0,
 178: 0,
 179: 0,
 180: 0,
 181: 0,
 182: 0,
 183: 0,
 184: 0,
 185: 1,
 187: 0,
 188: 1,
 189: 0,
 193: 0,
 195: 0,
 196: 0,
 197: 1,
 198: 0,
 200: 1,
 201: 0,
 202: 1,
 203: 1,
 204: 0,
 205: 0,
 206: 0,
 208: 0,
 209: 1,
 210: 0,
 211: 0,
 212: 0,
 213: 0,
 214: 1,
 215: 0,
 216: 0,
 217: 0,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 225: 0,
 226: 0,
 227: 0,
 228: 0,
 230: 1,
 232: 0,
 234: 0,
 235: 0,
 236: 0,
 237: 0,
 238: 0,
 239: 0,
 240: 0,
 241: 0,
 242: 0,
 243: 0,
 244: 0,
 245: 1,
 246: 0,
 247: 1,
 249: 0,
 250: 0,
 251: 0,
 252: 0,
 253: 0,
 254: 0,
 255: 0,
 256: 0,
 258: 0,
 259: 0,
 260: 0,
 261: 0,
 262: 0,
 263: 1,
 265: 1,
 266: 0,
 267: 0,
 268: 0,
 271: 0,
 273: 0,
 275: 1,
 277: 0,
 278: 0,
 280: 1,
 283: 1,
 284: 0,
 285: 0,
 286: 0,
 289: 0,
 290: 0,
 291: 0,
 292: 0,
 293: 0,
 294: 0,
 295: 0,
 297: 1,
 298: 1,
 299: 0,
 300: 0,
 302: 0,
 303: 0,
 305: 1,
 308: 0,
 309: 0,
 310: 1,
 311: 1,
 312: 0,
 313: 0,
 315: 0,
 316: 0,
 317: 0,
 319: 0,
 320: 0,
 321: 1,
 322: 1,
 323: 0,
 325: 0,
 326: 0,
 329: 0,
 330: 0,
 331: 0,
 333: 0,
 335: 0,
 337: 0,
 338: 0,
 339: 0,
 340: 0,
 341: 1,
 342: 0,
 343: 0,
 345: 0,
 346: 0,
 347: 1,
 349: 0,
 350: 0,
 351: 1,
 352: 0,
 353: 0,
 354: 0,
 357: 0,
 360: 0,
 362: 0,
 363: 1,
 364: 0,
 365: 0,
 366: 0,
 367: 0,
 368: 0,
 370: 1,
 371: 0,
 374: 0,
 375: 0,
 376: 0,
 379: 0,
 381: 0,
 382: 0,
 383: 1,
 388: 0,
 389: 0,
 390: 0,
 391: 0,
 393: 0,
 394: 0,
 395: 0,
 397: 1,
 398: 0,
 399: 0,
 400: 0,
 401: 1,
 402: 0,
 403: 0,
 405: 0,
 406: 0,
 407: 0,
 408: 0,
 409: 0,
 411: 0,
 413: 0,
 416: 0,
 417: 0,
 418: 1,
 420: 0,
 423: 0,
 424: 0,
 425: 0,
 426: 0,
 427: 0,
 430: 1,
 431: 0,
 433: 0,
 434: 0,
 435: 0,
 436: 0,
 438: 0,
 439: 0,
 440: 0,
 442: 0,
 444: 0,
 445: 1,
 446: 0,
 448: 0,
 449: 0,
 450: 1,
 451: 0,
 452: 0,
 453: 0,
 455: 0,
 457: 0,
 460: 1,
 461: 0,
 462: 1,
 464: 0,
 465: 0,
 469: 1,
 471: 1,
 472: 1,
 473: 0,
 474: 0,
 477: 0,
 478: 0,
 479: 1,
 480: 0,
 481: 0,
 482: 0,
 483: 1,
 486: 0,
 487: 0,
 488: 0,
 490: 0,
 492: 1,
 493: 0,
 494: 1,
 495: 0,
 497: 1,
 498: 0,
 500: 0,
 501: 0,
 502: 1,
 504: 0,
 505: 0,
 506: 1,
 508: 0,
 509: 1,
 510: 1,
 511: 0,
 512: 1,
 513: 0,
 514: 0,
 515: 0,
 516: 0,
 517: 0,
 518: 1,
 519: 0,
 520: 0,
 521: 0,
 522: 1,
 524: 0,
 525: 0,
 526: 0,
 528: 0,
 529: 1,
 531: 0,
 533: 0,
 534: 0,
 535: 1,
 536: 0,
 537: 0,
 538: 0,
 539: 0,
 540: 1,
 542: 0,
 543: 0,
 546: 0,
 547: 1,
 549: 0,
 552: 0,
 553: 1,
 554: 0,
 555: 0,
 557: 0,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 1,
 565: 0,
 566: 0,
 568: 0,
 570: 0,
 571: 0,
 572: 1,
 573: 0,
 574: 0,
 575: 0,
 576: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 0,
 583: 0,
 584: 0,
 586: 0,
 588: 0,
 589: 1,
 591: 1,
 592: 0,
 593: 0,
 595: 0,
 596: 0,
 597: 0,
 600: 0,
 601: 1,
 603: 1,
 604: 0,
 605: 1,
 607: 0,
 608: 0,
 609: 0,
 612: 0,
 614: 0,
 615: 0,
 616: 0,
 617: 0,
 618: 1,
 619: 0,
 620: 0,
 621: 0,
 623: 0,
 626: 0,
 627: 1,
 628: 1,
 630: 0,
 632: 1,
 633: 0,
 634: 1,
 635: 0,
 637: 0,
 638: 0,
 639: 1,
 640: 0,
 641: 0,
 643: 0,
 644: 0,
 646: 0,
 647: 0,
 648: 0,
 649: 0,
 651: 0,
 652: 0,
 654: 0,
 655: 0,
 656: 0,
 657: 0,
 658: 0,
 660: 0,
 661: 0,
 663: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 1,
 671: 0,
 673: 0,
 674: 0,
 675: 0,
 676: 0,
 677: 0,
 678: 0,
 679: 1,
 680: 1,
 682: 0,
 683: 0,
 685: 0,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 0,
 699: 0,
 700: 0,
 701: 0,
 702: 0,
 703: 0,
 704: 0,
 706: 0,
 707: 0,
 709: 0,
 710: 0,
 712: 0,
 714: 0,
 715: 0,
 716: 0,
 717: 0,
 719: 0,
 720: 0,
 724: 1,
 725: 1,
 726: 0,
 727: 0,
 728: 1,
 729: 0,
 733: 0,
 735: 0,
 736: 0,
 737: 0,
 738: 0,
 739: 0,
 740: 0,
 743: 0,
 745: 0,
 746: 0,
 749: 0,
 750: 0,
 751: 0,
 752: 0,
 753: 0,
 754: 1,
 755: 0,
 757: 0,
 758: 0,
 760: 0,
 761: 0,
 763: 0,
 765: 0,
 767: 0,
 768: 0,
 769: 0,
 771: 0,
 772: 1,
 773: 0,
 774: 0,
 775: 0,
 776: 0,
 777: 0,
 780: 0,
 782: 0,
 783: 1,
 784: 0,
 785: 0,
 786: 1,
 787: 0,
 788: 0,
 789: 0,
 791: 0,
 792: 0,
 793: 0,
 794: 0,
 795: 0,
 799: 0,
 801: 0,
 802: 0,
 804: 1,
 805: 0,
 808: 0,
 809: 0,
 810: 0,
 811: 0,
 812: 0,
 813: 0,
 814: 0,
 815: 0,
 817: 0,
 819: 0,
 820: 0,
 821: 0,
 822: 0,
 823: 0,
 824: 0,
 825: 0,
 826: 0,
 827: 0,
 828: 1,
 829: 0,
 830: 0,
 832: 0,
 833: 0,
 834: 0,
 835: 0,
 836: 0,
 837: 0,
 838: 0,
 842: 0,
 843: 0,
 845: 1,
 846: 0,
 848: 0,
 849: 0,
 850: 0,
 851: 1,
 853: 0,
 856: 0,
 857: 0,
 858: 0,
 859: 0,
 860: 0,
 863: 0,
 865: 0,
 869: 1,
 872: 0,
 874: 1,
 875: 0,
 876: 0,
 878: 0,
 880: 0,
 881: 0,
 882: 1,
 884: 0,
 885: 1,
 886: 0,
 887: 0,
 888: 0,
 891: 0,
 892: 0,
 894: 0,
 895: 0,
 899: 0,
 900: 0,
 901: 1,
 903: 0,
 905: 0,
 906: 1,
 907: 1,
 908: 0,
 910: 0,
 911: 0,
 912: 1,
 913: 0,
 914: 0,
 915: 0,
 916: 0,
 917: 0,
 918: 0,
 919: 0,
 921: 0,
 922: 0,
 924: 0,
 927: 0,
 928: 1,
 929: 0,
 932: 1,
 934: 1,
 937: 1,
 939: 0,
 940: 0,
 941: 0,
 942: 0,
 943: 1,
 946: 0,
 947: 0,
 948: 0,
 953: 1,
 956: 0,
 957: 0,
 958: 0,
 959: 0,
 960: 0,
 962: 0,
 963: 0,
 967: 0,
 969: 0,
 972: 0,
 973: 0,
 975: 0,
 976: 0,
 977: 0,
 978: 0,
 980: 1,
 981: 0,
 982: 0,
 983: 0,
 984: 0,
 985: 1,
 986: 0,
 989: 0,
 991: 0,
 992: 0,
 994: 0,
 995: 0,
 996: 0,
 997: 0,
 999: 0,
 1001: 0,
 1004: 0,
 1005: 0,
 1007: 1,
 1009: 1,
 1010: 0,
 1013: 1,
 1014: 0,
 1016: 0,
 1017: 1,
 1018: 1,
 1020: 0,
 1023: 0,
 1025: 0,
 1026: 1,
 1027: 1,
 1028: 0,
 1030: 0,
 1031: 0,
 1033: 0,
 1034: 0,
 1035: 1,
 1036: 0,
 1037: 0,
 1038: 0,
 1039: 0,
 1040: 0,
 1041: 0,
 1043: 0,
 1045: 0,
 1047: 0,
 1048: 0,
 1049: 0,
 1052: 0,
 1053: 0,
 1054: 0,
 1055: 1,
 1056: 0,
 1057: 0,
 1058: 0,
 1060: 0,
 1061: 1,
 1063: 0,
 1064: 0,
 1066: 0,
 1068: 0,
 1069: 0,
 1070: 0,
 1072: 1,
 1074: 0,
 1076: 0,
 1077: 0,
 1078: 0,
 1079: 0,
 1080: 0,
 1082: 0,
 1083: 0,
 1084: 0,
 1085: 0,
 1086: 0,
 1087: 0,
 1088: 0,
 1089: 1,
 1090: 0,
 1091: 0,
 1092: 0,
 1093: 1,
 1094: 1,
 1095: 0,
 1096: 0,
 1099: 1,
 1100: 0,
 1101: 0,
 1103: 0,
 1104: 0,
 1105: 0,
 1106: 1,
 1107: 1,
 1108: 0,
 1109: 0,
 1110: 0,
 1112: 0,
 1113: 0,
 1114: 0,
 1115: 0,
 1117: 0,
 1119: 1,
 1121: 0,
 1123: 1,
 1124: 1,
 1125: 0,
 1126: 0,
 1128: 1,
 1129: 1,
 1131: 0,
 1132: 0,
 1133: 0,
 1134: 0,
 1135: 0,
 1136: 1,
 1137: 0,
 1139: 0,
 1140: 0,
 1141: 0,
 1143: 0,
 1144: 0,
 1145: 1,
 1147: 0,
 1148: 0,
 1149: 0,
 1150: 1,
 1151: 1,
 1152: 0,
 1153: 0,
 1154: 0,
 1155: 1,
 1156: 1,
 1157: 0,
 1159: 0,
 1160: 0,
 1161: 0,
 1162: 0,
 1163: 1,
 1166: 0,
 1167: 0,
 1168: 0,
 1169: 0,
 1170: 0,
 1171: 0,
 1173: 1,
 1176: 0,
 1177: 0,
 1178: 0,
 1180: 0,
 1181: 0,
 1183: 0,
 1184: 0,
 1186: 1,
 1187: 0,
 1188: 0,
 1191: 0,
 1193: 0,
 1194: 0,
 1195: 0,
 1196: 1,
 1197: 0,
 1199: 0,
 1200: 0,
 1202: 1,
 1203: 0,
 1205: 0,
 1207: 0,
 1210: 0,
 1211: 0,
 1212: 0,
 1213: 0,
 1214: 1,
 1217: 0,
 1218: 0,
 1221: 0,
 1222: 1,
 1223: 0,
 1225: 0,
 1226: 0,
 1227: 0,
 1229: 0,
 1230: 0,
 1232: 0,
 1233: 1,
 1234: 0,
 1235: 1,
 1236: 0,
 1237: 0,
 1238: 1,
 1239: 0,
 1240: 0,
 1242: 1,
 1243: 0,
 1244: 0,
 1245: 1,
 1247: 0,
 1250: 1,
 1251: 0,
 1252: 0,
 1253: 0,
 1254: 0,
 1256: 0,
 1257: 0,
 1260: 0,
 1266: 0,
 1267: 0,
 1268: 0,
 1271: 0,
 1273: 0,
 1274: 1,
 1278: 0,
 1279: 0,
 1280: 1,
 1281: 0,
 1282: 0,
 1283: 0,
 1285: 0,
 1286: 0,
 1287: 0,
 1288: 0,
 1289: 0,
 1290: 1,
 1291: 0,
 1293: 0,
 1294: 0,
 1296: 0,
 1297: 0,
 1298: 0,
 1299: 0,
 1301: 0,
 1302: 0,
 1303: 1,
 1305: 0,
 1306: 0,
 1307: 0,
 1308: 0,
 1309: 0,
 1310: 0,
 1311: 0,
 1312: 0,
 1313: 0,
 1314: 0,
 1316: 0,
 1317: 0,
 1318: 1,
 1319: 1,
 1320: 1,
 1321: 0,
 1322: 0,
 1324: 0,
 1325: 0,
 1326: 0,
 1327: 1,
 1328: 0,
 1331: 0,
 1332: 0,
 1333: 0,
 1335: 0,
 1338: 0,
 1339: 1,
 1343: 1,
 1344: 0,
 1345: 1,
 1346: 0,
 1347: 0,
 1349: 0,
 1350: 1,
 1352: 0,
 1353: 0,
 1354: 0,
 1355: 0,
 1356: 0,
 1357: 1,
 1358: 0,
 1359: 0,
 1360: 0,
 1361: 1,
 1363: 0,
 1365: 0,
 1366: 0,
 1367: 0,
 1368: 1,
 1369: 0,
 1371: 0,
 1372: 0,
 1373: 0,
 1378: 0,
 1379: 1,
 1380: 0,
 1381: 0,
 1382: 0,
 1385: 0,
 1386: 0,
 1387: 0,
 1388: 0,
 1389: 0,
 1390: 0,
 ...}

In [14]:
# Transform dictionary of adopted users into dataframe 
df_adopted_user = pd.DataFrame.from_dict(adopted_user, orient='index', columns = ['adopted_user']).reset_index()

In [15]:
df_adopted_user

      index  adopted_user
0         1             0
1         2             1
2         3             0
3         4             0
4         5             0
...     ...           ...
8818  11996             0
8819  11997             0
8820  11998             0
8821  11999             0
8822  12000             0

[8823 rows x 2 columns]

## Form the data for the analysis, clean them, and extract features for analysis

In [16]:
# Combine predictor variables and target variable 
data = df_adopted_user.merge(df, left_on = 'index', right_on = 'object_id')

In [17]:
data

,index,adopted_user,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,0,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,0,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,0,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8818,11996,0,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
8819,11997,0,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
8820,11998,0,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
8821,11999,0,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
8822,12000,0,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8823 entries, 0 to 8822
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       8823 non-null   int64
 1   adopted_user                8823 non-null   int64
 2   object_id                   8823 non-null   int64
 3   creation_time               8823 non-null   object
 4   name                        8823 non-null   object
 5   email                       8823 non-null   object
 6   creation_source             8823 non-null   object
 7   last_session_creation_time  8823 non-null   float64
 8   opted_in_to_mailing_list    8823 non-null   int64
 9   enabled_for_marketing_drip  8823 non-null   int64
 10  org_id                      8823 non-null   int64
 11  invited_by_user_id          4776 non-null   float64
dtypes: float64(2), int64(6), object(4)
memory usage: 896.1+ KB

In [19]:
# Extract the user email domain
import re as re
def email_domain(text):
    email = re.findall(r'@[\w\.-]+',str(text))
    return email[0][1:-4] #",".join(email)

In [20]:
data['email_domain'] = data['email'].astype('str').apply(lambda x: email_domain(x))

In [21]:
data['email_domain'].unique()

array(['yahoo', 'gustr', 'jourrapide', 'cuvo', 'gmail', 'uhzdq',
       'hotmail', 'yyyxt', 'cslyn', 'xhtxh', 'aethf', 'tmfog', 'qrmhc',
       'qiuyl', 'apagc', 'mxecy', 'pdtom', 'iaery', 'wogms', 'ptzrm',
       'oocsj', 'suwyf', 'crfye', 'xcqzb', 'dvyir', 'oqpze', 'ygefm',
       'mohuc', 'vlups', 'vvtgw', 'dppey', 'mykch', 'ohtxi', 'lfrvf',
       'vmxgl', 'oedcb', 'rbdmz', 'octon', 'ktsjn', 'qhmpn', 'tzqgh',
       'ekkwg', 'cbxln', 'cvcvy', 'strdn', 'xhpff', 'hdsjq', 'otbbz',
       'tmbux', 'ushdv', 'elpuc', 'yjveg', 'yqkbx', 'jwiwn', 'fizyt',
       'efkkv', 'ezlig', 'muqql', 'fuknk', 'hxufo', 'tolmf', 'nujjv',
       'hsrfc', 'qhoyd', 'lhbjr', 'gzfzj', 'tjopk', 'wctom', 'lmcbv',
       'nhvlo', 'spwpk', 'qkztw', 'mumdc', 'xdsil', 'mqsri', 'dhafc',
       'pybgb', 'xlmyl', 'xjdlv', 'qotem', 'moizz', 'psuuq', 'rqhnq',
       'tkrgc', 'jmlqy', 'rhmlt', 'neguf', 'uznoh', 'sxobl', 'ouigi',
       'oqmmx', 'btrfw', 'wodwb', 'eyhov', 'pgjfv', 'fwtem', 'gnxds',
       'vsbbe', 'jhiss', 'beszv', 'gxuif', 'qdpsu', 'cwecb', 'biljj',
       'jxkfv', 'crgak', 'ydtkr', 'btusf', 'afzjt', 'urbci', 'encwc',
       'oxxwq', 'hsskw', 'cmbwg', 'jfvoj', 'yqitt', 'yxpja', 'fpjbb',
       'wjfxx', 'egtdh', 'rldgx', 'xboqn', 'xeaou', 'cwgpf', 'moiyt',
       'fkhiq', 'hpcop', 'foeeh', 'vfmup', 'xituv', 'qlhdq', 'skuvv',
       'kkuvu', 'lijua', 'xnulw', 'xxugt', 'mddhy', 'wujjs', 'tauzo',
       'zpbkw', 'ydtlw', 'ykfrv', 'izbgz', 'zbhhl', 'tpswd', 'lijtu',
       'xpffk', 'zkcep', 'thfed', 'tawht', 'hugtc', 'bhjwj', 'dmbrh',
       'ldgxt', 'wlpro', 'dvthf', 'xebtr', 'opjay', 'ecbua', 'hqitt',
       'xkijv', 'xvlrd', 'oebvz', 'uarkx', 'vyirk', 'pfgna', 'ykbci',
       'bgdtm', 'uwbpx', 'ipcnh', 'ypexd', 'cbyst', 'sosxn', 'nhuei',
       'wqmog', 'lqwoc', 'tpqjv', 'hsrgg', 'korrl', 'pllxh', 'emwyd',
       'dpqmm', 'ttolm', 'cavde', 'oixqk', 'vplne', 'xvnbr', 'bxlng',
       'ktopi', 'qyvjg', 'vmyhm', 'wqnsa', 'tauwb', 'lomun', 'fzkyr',
       'cjpwq', 'rvfjh', 'jystq', 'qwmul', 'wwrtt', 'bsmgs', 'kzsos',
       'creup', 'luque', 'pbmfq', 'ezmmv', 'cbype', 'bbdkr', 'amlsi',
       'ohufn', 'bsmic', 'nmvti', 'tatus', 'fwvoi', 'copkb', 'mgtbx',
       'ekmhw', 'arlem', 'sorsp', 'oiyvh', 'unhsv', 'tpvjh', 'jmifc',
       'ulton', 'cymqs', 'jwjch', 'nmwbm', 'hlhew', 'kqdqv', 'hkhdr',
       'nrzve', 'dzpyd', 'vulto', 'btsil', 'fbsio', 'xiysv', 'ceoiv',
       'dfohs', 'wdwdy', 'ufqns', 'jjsoq', 'uddig', 'icmcy', 'ysvxe',
       'igfhw', 'dbsor', 'luupo', 'rotfq', 'qgixo', 'kkutm', 'xzfcr',
       'xsuwb', 'nuluq', 'cpvie', 'cmhvk', 'trgdv', 'uxebt', 'dxjxn',
       'tjqbf', 'nbqev', 'nyfeg', 'gjcgc', 'vlusc', 'ovmwx', 'hqhll',
       'ugtav', 'mrytw', 'elpty', 'mtikx', 'ijvcz', 'avfnw', 'pcood',
       'bawmq', 'akwfl', 'sksni', 'rcijx', 'ofixp', 'qcinn', 'qwnwx',
       'udgug', 'hstsg', 'wjcjo', 'kpsux', 'ibgdu', 'smeie', 'bttmc',
       'qrpxv', 'mryst', 'hubxm', 'egsva', 'uvtjm', 'uvvsz', 'uvxbk',
       'jvcvb', 'xybhi', 'yglik', 'vkmdh', 'goffm', 'ufogl', 'ecwgn',
       'ppecw', 'imknl', 'rdppg', 'useqr', 'yssjq', 'chcor', 'jeult',
       'ungoe', 'xrovp', 'zkbxm', 'ckuun', 'jgedy', 'jlcfq', 'kfumy',
       'ufnda', 'kbxlm', 'fbqbi', 'hmohu', 'jchff', 'nsxoy', 'yfbqc',
       'qirmh', 'phocq', 'diged', 'cfqpe', 'rilig', 'sqclx', 'ufrtv',
       'slcaw', 'breuo', 'fqrka', 'rvgoc', 'vlvul', 'zssin', 'yhmqt',
       'nruyi', 'flpqk', 'noixo', 'curaa', 'vxdvt', 'zjwjb', 'orqex',
       'vxdvx', 'itusf', 'kgycl', 'negte', 'ncwdw', 'wjfwv', 'fsdmy',
       'veibh', 'xhqhl', 'fsbxo', 'hdtlb', 'oswjb', 'jikax', 'btoph',
       'vgrqg', 'ttoph', 'vupnw', 'xtbba', 'ophnu', 'nxydr', 'chdsg',
       'zghrn', 'xeeia', 'wwscd', 'tjorr', 'swgoa', 'crdnh', 'iuden',
       'wwwrw', 'vqsos', 'elqvg', 'syrnm', 'binqn', 'dwctl', 'pkeok',
       'ynrub', 'nbqcl', 'djmie', 'aosyq', 'oyewb', 'wtcen', 'fhufq',
       'lendc', 'etgyd', 'pntft', 'llzow', 'bhisp', 'esepm', 'pkfum',
       'tlxhq', 'ucxjb', 'ripze', 'wocvv', 'erucb', 'gxxsw', 'dshfd',
       'gebso', 'idrbg', 'prpxw', 'cnkkt', 'rerwl', 'dqtzp', 'wtgyd',
       'kqyyw', 'pobmi', 'cvwyc', 'zkbzv', 'agfei', 'kavdd', 'mgvmx',
       'knhwq', 'ifdym', 'txkeo', 'anmvu', 'bdlvv', 'slwef', 'yoydr',
       'ukorp', 'jfxdt', 'mlrfw', 'kprrk', 'qowtd', 'icjnp', 'yxtxk',
       'dqwln', 'vxaiq', 'jlcft', 'xpgje', 'mmbuv', 'iggnw', 'zkcdj',
       'fgnyh', 'wwwrv', 'hgiyt', 'djopl', 'vqpgh', 'sypcr', 'hqmnb',
       'dieyh', 'qligh', 'feibf', 'fqmmb', 'iovoe', 'ucdhc', 'ymmyh',
       'lqwjg', 'tbvbu', 'qrkbx', 'nxbkw', 'kvxdt', 'mbuvw', 'qhoyb',
       'xobnn', 'aqeyf', 'reulu', 'qexea', 'ewybl', 'wydvs', 'uhbku',
       'rrjuw', 'myhob', 'rougv', 'svdbx', 'kilen', 'rdnfm', 'ceneg',
       'ivgqo', 'djoqq', 'crcly', 'rqdsf', 'lqxpi', 'ubrju', 'yevse',
       'qssjs', 'ekoql', 'cdhew', 'ogmum', 'kgxxw', 'bsjsm', 'tdgxv',
       'wschb', 'nibhj', 'odwdw', 'ynteo', 'ncvyi', 'abdnf', 'lwctn',
       'ieunf', 'jzyvg', 'gnbno', 'hfehy', 'xivdf', 'bgdwc', 'fqoyz',
       'zpcop', 'aotcc', 'lqwms', 'jberw', 'dvtjm', 'ezmko', 'stsgd',
       'gjchh', 'cxlhf', 'ghtwe', 'rosyq', 'mkqac', 'xsuur', 'owtfq',
       'bztur', 'vhugu', 'mzmne', 'fnbpv', 'jyspz', 'tdife', 'fulwb',
       'tgaim', 'mndbu', 'cylik', 'eryuz', 'dseth', 'uasor', 'lyjyt',
       'cyqff', 'qqgix', 'adpql', 'hwqov', 'pafbm', 'tweeh', 'tqyvi',
       'tfsce', 'ggkhf', 'tgwte', 'amknl', 'xdutj', 'khhlm', 'sleif',
       'eznoh', 'orsoq', 'upqhn', 'mngrr', 'gctmd', 'ceqro', 'vkjsm',
       'kbaxq', 'eqtvz', 'dshis', 'yhnuj', 'hfbri', 'nqnui', 'fboqn',
       'syspy', 'bfxyd', 'flnib', 'ckvbo', 'rwkhi', 'qvjim', 'bchfd',
       'gcrgb', 'oodxe', 'bfvoj', 'rgdyj', 'ajrkw', 'ufpll', 'khecx',
       'nrwjd', 'ldidt', 'gzhjb', 'yyzci', 'wyfdb', 'ssjsl', 'ulwdv',
       'qcnhy', 'zsrgb', 'ftdls', 'cweei', 'xmqve', 'anogl', 'xxxue',
       'qdrcj', 'xbmic', 'jipcm', 'uuppd', 'pqmnc', 'ifxcq', 'igiwm',
       'tcftd', 'xsxix', 'pdwak', 'xxsyq', 'pivfo', 'nwukn', 'ihnru',
       'ktqxt', 'ldguj', 'ispta', 'gobqd', 'hrpvm', 'cceoj', 'viadn',
       'yiuyk', 'btpuf', 'pvicn', 'csiml', 'xycon', 'uwzjs', 'iiqgf',
       'bvcwd', 'vkmgt', 'pqirn', 'ikcdl', 'qwnam', 'cjpwo', 'xgmsd',
       'ystpu', 'skvbs', 'nvneg', 'darkw', 'userw', 'mzkem', 'qwmuo',
       'qpyds', 'nygiv', 'viyyv', 'nwulu', 'numcu', 'micmc', 'bztuu',
       'hozfa', 'cvvth', 'vgrpz', 'ucynu', 'etgai', 'dbxmo', 'ruxgl',
       'wpkdm', 'qhntg', 'huekm', 'hufmv', 'xuifc', 'ibgbo', 'wedfp',
       'pjcjm', 'wpmpp', 'aipbl', 'bfukq', 'lrdlx', 'clwdx', 'sgbnn',
       'wrttl', 'hywms', 'mehzd', 'ufqlk', 'ofixq', 'dpphp', 'rtsgb',
       'aldgv', 'zfbno', 'iclxj', 'zjtvu', 'lccen', 'gruzm', 'suwxx',
       'dihjz', 'elvth', 'yyyvi', 'pmsbc', 'jbaxq', 'eqrnp', 'xqjvg',
       'pxvlr', 'swhrr', 'ppgkh', 'qhlmb', 'mppgi', 'jqevt', 'evumx',
       'orvdz', 'jnohq', 'vievr', 'xqlig', 'mhbhg', 'jrggl', 'njesf',
       'eykdh', 'fmuqr', 'gfgql', 'ilemx', 'ofici', 'iudgs', 'cksld',
       'xhqit', 'xvogn', 'encuw', 'hyaes', 'jimma', 'wctlz', 'xxvlq',
       'gixrq', 'pfhqn', 'bqdse', 'ptymq', 'hufog', 'xjzxp', 'ksjrj',
       'nxbku', 'cshit', 'dvseo', 'midoo', 'sdndb', 'goebt', 'csmdd',
       'mfoiv', 'rmlsj', 'vxfeh', 'jcksk', 'webso', 'clbuw', 'qfdyj',
       'ymohu', 'pkeoi', 'hcqac', 'pmojd', 'iacjq', 'bgdut', 'tqytb',
       'grtuq', 'qwkmc', 'kmfoh', 'mxdxf', 'bosvd', 'kqzbg', 'cuvvr',
       'vknkm', 'vxzgg', 'gmpoc', 'fnzjv', 'uqrno', 'hgixr', 'gwqou',
       'pwqpb', 'mgtcc', 'uppir', 'ykeqr', 'tcenf', 'vvpox', 'uwbnp',
       'xjcjp', 'lvwyf', 'demvu', 'ilhbl', 'idqxs', 'vmtlx', 'vdarj',
       'wofgo', 'kxixr', 'ocpty', 'fkjrf', 'vlqyu', 'jgcqb', 'vgtej',
       'aotdh', 'ygljn', 'ymlvu', 'rtshi', 'icooc', 'pnwte', 'krewx',
       'qhnul', 'dqsut', 'gzged', 'doiac', 'ypbmj', 'rjuyh', 'bdnfn',
       'tkrfw', 'lzsor', 'qnsbc', 'vbsly', 'ghtxh', 'zghpe', 'gwsyp',
       'zfcsl', 'fumwc', 'tlxgl', 'xduqs', 'qmppd', 'xxtzt', 'fxzfd',
       'aiouj', 'nhxrt', 'rimoj', 'oxwsw', 'slzpc', 'uxffl', 'inrxl',
       'pybhg', 'tnhyy', 'difbq', 'ynsbd', 'rleof', 'zkdih', 'xdxgl',
       'enefm', 'aerbd', 'brhlk', 'bikch', 'owujh', 'cgbld', 'uyhoy',
       'iuxiw'], dtype=object)

In [22]:
a = data['email_domain'].value_counts()

In [23]:
a

gmail         2930
yahoo         1726
jourrapide     883
gustr          842
cuvo           828
              ...
qwnwx            1
udgug            1
hstsg            1
wjcjo            1
iuxiw            1
Name: email_domain, Length: 812, dtype: int64

In [24]:
a[a>700]

gmail         2930
yahoo         1726
jourrapide     883
gustr          842
cuvo           828
hotmail        803
Name: email_domain, dtype: int64

In [25]:
list_email = a[a>700].index

In [26]:
list_email

Index(['gmail', 'yahoo', 'jourrapide', 'gustr', 'cuvo', 'hotmail'], dtype='object')

In [27]:
def email(x):
    if x in list_email:
        return x
    else:
        return 'other'

In [28]:
data['email_domain'] = data['email_domain'].apply(lambda x: email(x))

In [29]:
data['email_domain'].unique()

array(['yahoo', 'gustr', 'jourrapide', 'cuvo', 'gmail', 'other',
       'hotmail'], dtype=object)

In [30]:
data['email_domain'].value_counts()

gmail         2930
yahoo         1726
jourrapide     883
gustr          842
cuvo           828
other          811
hotmail        803
Name: email_domain, dtype: int64

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8823 entries, 0 to 8822
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       8823 non-null   int64
 1   adopted_user                8823 non-null   int64
 2   object_id                   8823 non-null   int64
 3   creation_time               8823 non-null   object
 4   name                        8823 non-null   object
 5   email                       8823 non-null   object
 6   creation_source             8823 non-null   object
 7   last_session_creation_time  8823 non-null   float64
 8   opted_in_to_mailing_list    8823 non-null   int64
 9   enabled_for_marketing_drip  8823 non-null   int64
 10  org_id                      8823 non-null   int64
 11  invited_by_user_id          4776 non-null   float64
 12  email_domain                8823 non-null   object
dtypes: float64(2), int64(6), object(5)
memory usage: 965.0+ KB

In [32]:
# Drop the column with many null values
data.drop(columns = ['invited_by_user_id'], inplace = True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8823 entries, 0 to 8822
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       8823 non-null   int64
 1   adopted_user                8823 non-null   int64
 2   object_id                   8823 non-null   int64
 3   creation_time               8823 non-null   object
 4   name                        8823 non-null   object
 5   email                       8823 non-null   object
 6   creation_source             8823 non-null   object
 7   last_session_creation_time  8823 non-null   float64
 8   opted_in_to_mailing_list    8823 non-null   int64
 9   enabled_for_marketing_drip  8823 non-null   int64
 10  org_id                      8823 non-null   int64
 11  email_domain                8823 non-null   object
dtypes: float64(1), int64(6), object(5)
memory usage: 896.1+ KB

In [34]:
# Create the new predictor variable (number_of_using_days)
from datetime import datetime

In [35]:
data['last_session_creation_time']

0       1.398139e+09
1       1.396238e+09
2       1.363735e+09
3       1.369210e+09
4       1.358850e+09
            ...
8818    1.378448e+09
8819    1.358275e+09
8820    1.398603e+09
8821    1.338638e+09
8822    1.390727e+09
Name: last_session_creation_time, Length: 8823, dtype: float64

In [36]:
data['last_session_creation_time'] = data['last_session_creation_time'].astype('int').astype("datetime64[s]")
data['creation_time'] = pd.to_datetime(data['creation_time'])

In [37]:
data['number_of_using_days'] = (data['last_session_creation_time'] - data['creation_time']).dt.days

In [38]:
# Extract features for analysis
data_for_use = data[['creation_source', 'opted_in_to_mailing_list',
                    'enabled_for_marketing_drip', 'email_domain', 'number_of_using_days']]
y = data['adopted_user']

In [39]:
data_for_use

,creation_source,opted_in_to_mailing_list,enabled_for_marketing_drip,email_domain,number_of_using_days
0,GUEST_INVITE,1,0,yahoo,0
1,ORG_INVITE,0,0,gustr,136
2,ORG_INVITE,0,0,gustr,0
3,GUEST_INVITE,0,0,yahoo,1
4,GUEST_INVITE,0,0,yahoo,5
...,...,...,...,...,...
8818,ORG_INVITE,0,0,gustr,0
8819,SIGNUP_GOOGLE_AUTH,0,0,gmail,5
8820,GUEST_INVITE,1,1,cuvo,0
8821,PERSONAL_PROJECTS,0,0,other,2
8822,SIGNUP,0,1,hotmail,0

In [40]:
data_for_use_numerized = pd.get_dummies(data_for_use, drop_first=True)

In [41]:
data_for_use_numerized

,opted_in_to_mailing_list,enabled_for_marketing_drip,number_of_using_days,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH,email_domain_gmail,email_domain_gustr,email_domain_hotmail,email_domain_jourrapide,email_domain_other,email_domain_yahoo
0,1,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,136,1,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,1
4,0,0,5,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8818,0,0,0,1,0,0,0,0,1,0,0,0,0
8819,0,0,5,0,0,0,1,1,0,0,0,0,0
8820,1,1,0,0,0,0,0,0,0,0,0,0,0
8821,0,0,2,0,1,0,0,0,0,0,0,1,0
8822,0,1,0,0,0,1,0,0,0,1,0,0,0

## Choose model for analysis

In [42]:
# I check the ratio between 0 values and 1 values to choose the metric for the analysis later
data['adopted_user'].value_counts(normalize = True)

0    0.818429
1    0.181571
Name: adopted_user, dtype: float64

In [43]:
from sklearn.model_selection import train_test_split, cross_val_score

In [44]:
X_train, X_test, y_train, y_test = train_test_split(data_for_use_numerized, y, test_size = 0.2, 
                                                    stratify = y, random_state = 42)

In [45]:
# The target variable data is skewed I decide to use ROC_AUC score as the metric to choose the model. Also, I am
# looking for the factors to predict the future user adoption. So I make a priority on the models that can help me
# extract the feature important easily.
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score, classification_report
from xgboost import XGBClassifier

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [46]:
dt = DecisionTreeClassifier(random_state = 42)
rf = RandomForestClassifier(random_state = 42)
ada = AdaBoostClassifier(random_state = 42)
GB = GradientBoostingClassifier(random_state = 42)
XGB = XGBClassifier(random_state = 42)

In [47]:
np.mean(cross_val_score(dt, X_train, y_train, cv=5, scoring = 'roc_auc'))

0.9189246708119565

In [48]:
np.mean(cross_val_score(rf, X_train, y_train, cv=5, scoring = 'roc_auc'))

0.9842096701524978

In [49]:
np.mean(cross_val_score(ada, X_train, y_train, cv=5, scoring = 'roc_auc'))

0.9918836648273238

In [50]:
np.mean(cross_val_score(GB, X_train, y_train, cv=5, scoring = 'roc_auc'))

0.9914552205562058

In [51]:
np.mean(cross_val_score(XGB, X_train, y_train, cv=5, scoring = 'roc_auc'))

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:04:24] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:04:24] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:04:25] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:04:25] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:04:26] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.9899661376258443

In [52]:
# We proceed with the Ada Boost and try to optimize the number of estimators.
from sklearn.model_selection import GridSearchCV

In [53]:
parameters = {'n_estimators':[1, 2, 5, 10, 20, 50, 100, 200, 500, 1000]}
grid = GridSearchCV(ada, parameters, cv = 5)

In [54]:
grid.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=AdaBoostClassifier(random_state=42),
             param_grid={'n_estimators': [1, 2, 5, 10, 20, 50, 100, 200, 500,
                                          1000]})

In [55]:
best_model = grid.best_estimator_

In [56]:
best_model

AdaBoostClassifier(n_estimators=1, random_state=42)

In [57]:
# We fit the best model to the whole train data and see its performance on the test data
best_model.fit(X_train, y_train)

AdaBoostClassifier(n_estimators=1, random_state=42)

In [58]:
y_test_pred = best_model.predict(X_test)

In [59]:
print('The AUC score of the best model on the test set:', roc_auc_score(y_test, y_test_pred))

The AUC score of the best model on the test set: 0.9342398356401383

In [60]:
print('The classification report of the best model on the test set:\n', classification_report(y_test, y_test_pred))

The classification report of the best model on the test set:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98      1445
           1       0.90      0.89      0.89       320

    accuracy                           0.96      1765
   macro avg       0.94      0.93      0.94      1765
weighted avg       0.96      0.96      0.96      1765

## Discuss the factors that predict future adopted users

In [61]:
#Since the chosen model performed so well on the data we can choose it to see the important factors for the prediction
important_features = pd.DataFrame(best_model.feature_importances_, index = data_for_use_numerized.columns, 
                                  columns = ['Contributions'])

In [62]:
important_features

                                    Contributions
opted_in_to_mailing_list                      0.0
enabled_for_marketing_drip                    0.0
number_of_using_days                          1.0
creation_source_ORG_INVITE                    0.0
creation_source_PERSONAL_PROJECTS             0.0
creation_source_SIGNUP                        0.0
creation_source_SIGNUP_GOOGLE_AUTH            0.0
email_domain_gmail                            0.0
email_domain_gustr                            0.0
email_domain_hotmail                          0.0
email_domain_jourrapide                       0.0
email_domain_other                            0.0
email_domain_yahoo                            0.0

From the above table, it seems that the number_of_using_days can help us predict future user adoption.